:root {
  --nav-accent: #8C9B97;
  --icon-accent: #D58534;
}

header nav {
  background-color: var(--nav-accent);
  color: var(--icon-accent);
}

body {
  font-family: Roboto;
}

h1 {
  font-family: Montserrat;
}
