img {
    width: 400px;
    min-height: 600px;
    height: auto;
    display: block;
    background-color: black;
    animation: fade 3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}