table {
    text-align: center;
    border-collapse: collapse;
}

td {
    padding: 1rem;
}

th {
    padding: 1rem;
}

thead {
    background-color: black;
    color: #fff;
}

.sections th {
    background-color: #3B3735;
}

tbody tr:nth-child(2) {
    background-color: #D9D9D9;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

caption {
    caption-side: bottom;
    font-size: 0.9rem;
}
