:root {
    --accent-1: #111D13;
    --accent-2: #415D43;
    --accent-3: #709775;
    --accent-4: #8FB996;
    --accent-5: #A1CCA5;
    --font-color: rgb(222, 230, 224);

}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.3fr auto 1.5fr 1fr;
    color: var(--font-color);
    font-family: monospace;
    font-size: 0.9rem;
}

header {
    background-color: var(--accent-2);
    grid-column: 1 / -1;
    padding: 0.5rem;
}

nav {
    background-color: var(--accent-1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-column: 1 / -1;
}

nav a {
    padding: 1rem;
}

main {
    background-color: var(--accent-3);
    grid-column: 1;
    padding: 0.5rem;
}

aside {
    background-color: var(--accent-4);
    grid-column: 2;
    padding: 0.5rem;
}

footer {
    background-color: var(--accent-2);
    grid-column: 1 / -1;
    padding: 0.5rem;
}