:root {
    --background-accent: #1a1a1a;
    --banner-accent: #FF6b6b;
    --nav-accent: #2d2d2d;
    --card-accent: #8B939C;
    --primary-text: #ffffff;
    --secondary-text: #000000;
    --link-color: #87ceeb;
    --hover-color: #ff4757;

}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'PT mono';
    background-color: var(--background-accent);
    color: var(--primary-text);
}

header span {
    display: block;
    background-color: var(--banner-accent);
    text-align: center;
    padding: 1.5rem;
}

header nav {
    display: flex;
    background-color: var(--nav-accent);
    text-align: center;
    padding: 1rem;
}

nav a {
    flex: auto;
    text-decoration: none;
    color: var(--primary-text);
}

nav a:hover {color: var(--hover-color);}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main h1{
    grid-column: 1 / -1;
    text-align: center;
}

.card {
    background-color: var(--card-accent);
    padding: 1rem;
    margin: 0.5rem;
    color: var(--secondary-text);
}

.card-1 {
    grid-column: 1 / 2;
}

.card-2 {
    grid-column: 2 / -1;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.content img {
    flex: 0 0 30vh;
    max-width: 30vh;
    height: auto;
    border: 0.2rem solid var(--background-accent);
}

.content p {
    flex: 1 1 200px;
    padding-left: 2rem;
    font-family: 'Open Sans';
}

.content ul {
    list-style-type: none;
}

.content a {
    color: var(--link-color);
}

footer {
    background-color: var(--banner-accent);
    text-align: center;
    padding: 1rem;
}