@media (min-width:37.5em) {
    header {
        grid-template-columns: 1fr 1fr 2fr;
        background-color: var(--header-accent);
    }
    
    #menu {
        display: none;
    }

    h2 {
        grid-column: 1 / 2;
    }

    nav {
        grid-column: 3 / -1;
        
    }

    #menuList {
        display: flex;
        flex-direction: row;
    }

    #menuList li {
        width: 100%;
        padding: 1.3rem;
    }

    main {
        grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
    }

    h1 {
        grid-column: 1 / -1;
    } 

}