body {
    font-family: Roboto;
}

header, main, footer{
    max-width: 650px;
    margin: 1rem auto;
    border: 1px solid black;
    padding: 1.3rem;
    background-color: rgb(156, 221, 247);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #bbeaf8;
}